body {
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  margin: 0;
}

/*                         HEADING             */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3vw;
  margin-left: 3.5vw;
  margin-right: 3.5vw;
  z-index: 1;
}

/* add 50 vw to the home left*/
header a:nth-child(2) {
  margin-right: 3em;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: black;
  border-bottom: 2px solid black;
}

header,
a {
  font-weight: 800;
  font-kerning: normal;
}

ul {
  list-style-type: none;
  display: flex;
}

.logo {
  max-width: 5em;
}

/*                     BODY                        */
main {
  height: 100%;
  width: 100%;
  position: absolute;
}

h2{
  font-size: 2.1em;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home img:hover {
  -webkit-box-shadow: 0px 47px 43px -15px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px 47px 43px -15px rgba(0, 0, 0, 0.31);
  box-shadow: 0px 47px 43px -15px rgba(0, 0, 0, 0.31);
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.11);
}

h1 {
  font-weight: bolder;
}

h1 a, a:hover {
  color: black;
  border: none;
}

.top-nav, a:link,
a:visited {
  color: black;
}

.about-skills {
  display: flex;
  flex-direction: column;
}

.skills-ul-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  white-space: nowrap;
}

/*                     FOOTER                        */

footer img {
  max-width: 1.5em;
  margin-right: 2em;
  cursor: pointer;
}

footer img:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.11);
  color: black;
}

.current[aria-current="page"] {
  text-decoration: underline wavy #f8c348 0.15rem;
  text-underline-offset: 0.5rem;}

/*                     HAMBURGER                        */

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #999;
}

.menu>li {
  margin: 0 2rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: black;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;

  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out;
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out;
}

@media (min-width: 1024px) {
  main {
    /* padding-top: 12vh;
    padding-bottom: 10vh; */
    display: flex;
    align-items: center;
    overflow-x: hidden;
    z-index: -1;
    /* padding-right: 10vh;
    padding-left: 13vw; */
  }

  a {
    color: #999;
  }

  .text-wrapper {
    margin-left: 20vh;
    font-weight: 100;
    line-height: 1.8;
    width: 50vw;
  }

  .home .text-wrapper {
    margin-right: 15vw;
  }

  h2 {
    white-space: nowrap;
  }

  h3 {
    white-space: nowrap;
  }
  p {
    /* white-space: pre; */
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 3em;
    width: 30vw;
    color: rgb(117, 117, 117);
  }

  .swapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .about {
    display: flex;
    justify-content: space-between;
  }

  .about img {
    min-width: 20em;
    max-width: 25vw;
    cursor: default;
  }

  .skills-ul-wrapper {
    padding-left: 13vw;
    margin-right: 20em;
  }

  .skills-ul-wrapper ul {
    padding-left: 0px;
    
  }

  .skills-ul-wrapper ul li{
    margin-bottom: 1em;
    font-size: 0.8EM;
    color: rgb(117, 117, 117);
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  section img {
    max-width: 25vw;
    min-width: 20vw;
    margin-right: 3em;
    cursor: pointer;
  }

  footer {
    padding: 6.5vh 3.5vw 5.4vh;
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 1023px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-wrapper {
    margin-left: 16vw;
    margin-right: 16vw;
  }

  .text-wrapper, #b, #c {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
  }

  #c {
    margin-left: 15vw;
  }
  
  .swapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  h2 {
    font-size: 1.5em;
    margin: 0;
    margin-top: 6em;
  }

  .home h2 {
    margin-bottom: 4em;
  }

  .about h2 {
    margin-top: 0em;
  }

  img {
    width: 70vw;
    margin-bottom: 2em;
  }

  .about img {
    width: 60vw;
    margin-top: 10em;
    margin-bottom: 0em;
  }

  footer {
    display: none;
  }

  footer img {
    margin-right: 1em;
  }

  .top-nav, a:link,
  a:visited {
    color: #999;
  }

  .skills-ul-wrapper {
    margin-bottom: 10em;
    padding-left: 0px;
  }

  .skills-ul-wrapper li {
    margin-bottom: 1em;
    font-size: 0.8em ;
  }

}

@media (max-width: 769) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
  }

  header label {
    display: flex;
    flex-direction: row;
  }

  footer {
    display: none;
  }

  .text-wrapper h2{
    font-size: 1.5em;
    margin-bottom: 0em;
  }

}

/* hamburger menu */
@media (max-width: 571px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: max-height 400ms ease-out;
    /* transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1); */
  }

  #menu-toggle:checked~.menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu>li {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 100%;
    color: black;
    background-color: #FFFFFF;
  }

  a:link,
  a:visited {
    color: black;
  }

  h2 {
    white-space: wrap;
  }

  .text-wrapper {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .skills-ul-wrapper {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  img {
    width: 90vw;
  }

  footer {
    display: none;
  }

}
